$body-bg: #f8fafc;

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$dark-blue: #15202B;
$blue: #0088ff;
$light-blue: #d8eaff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$light-red: #ffdede;
$orange: #f6993f;
$light-orange: #ffedd9;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray-1: #eeeeee;
$gray-2: #dddddd;
$gray-3: #bbbbbb;
$gray-4: #aaaaaa;
$gray-5: #808080;
$gray-6: #666666;
$gray-7: #4c4c4c;
$gray-8: #3e3e3e;
$gray-9: #2f2f2f;
