@import "./_variables.scss";
@import "./button.scss";
@import "./nav_drawer.scss";
@import "./navigator.scss";
@import "./input_text.scss";
@import "./panel.scss";
@import "./radio.scss";

.m-1 {
  margin: 0.5rem;
}

.text-center {
  text-align: center;
}

.link {
  color: mediumblue;
  text-decoration: mediumblue underline;
  cursor: pointer;
}
