.btn {
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
.btn-default {
  background-color: gray;
}
.btn-secondary {
  background-color: gray;
}
.btn-primary {
  background-color: dodgerblue;
}
.btn-warning {
  background-color: goldenrod;
}
.btn-danger {
  background-color: red;
}
.btn-info {
  background-color: lightsteelblue;
}
.btn-light {
  background-color: aliceblue;
}
.btn-dark {
  background-color: dimgrey;
}
