.text-form {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  transition: .3s;
  background-color: transparent;

  &__default {
    border-bottom: 1px solid $gray-3;

    &:focus {
      border-bottom: 1px solid $blue;
    }
  }

  &__danger {
    border-bottom: 1px solid $red;

    &:focus {
      border-bottom: 1px solid $red;
    }
  }
}

.text-form-container {
  position: relative;
  width: 100%;
}

.description {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0.8rem;
  &__default {
    color: $gray-3;
  }
  &__danger {
    color: $red;
  }
}

.label {
  margin: 0;
  padding: 0;
  width: 100%;
}

.length {
  color: $gray-3;
}