.panel {
  border: 1px solid $gray-1;
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px $gray-1;

  &__header {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid $gray-3;
    vertical-align: middle;

    &__action {

    }
  }

  &__body {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  &__footer {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-top: 1px solid $gray-3;

    &__action {

    }
  }
}

